* {
    cursor: url(../images/cursor/cursor.png) 10 2, auto;
}

*:active {
    cursor: url(../images/cursor/click.png) 10 2, auto;
}

@font-face {
    font-family: "Hearthstone";
    src: url("../fonts/belwebdbtaltstylerusbym_bold.otf");
}

.menu__bg {
    width: 1536px;
    height: 864px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons_place {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.menu__img {
    width: 1174px;
    height: 864px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: url("../images/menu/bg.png") no-repeat;
}


.button {
    width: 331px;
    height: 30px;
    margin-bottom: 52px;
    margin-top: 44px;
    color: #4D3C1E;
    font-family: "Hearthstone";
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

body {
    margin: 0;
}

.singleplayer-button {
    width: 164px;
    height: 344px;
    background: url("../images/menu/singleplayer-image.png") no-repeat;
}

.multiplayer-button {
    width: 164px;
    height: 344px;
    background: url("../images/menu/multiplayer-image.png") no-repeat;
}

.easy-button {
    width: 180px;
    height: 362px;
    background: url("../images/menu/easy-image.png") no-repeat;
    z-index: 10;
    position: absolute;
    top: 60%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.medium-button {
    width: 207px;
    height: 360px;
    background: url("../images/menu/medium-image.png") no-repeat;
    z-index: 10;
    position: absolute;
    top: 46%;
    left: 42.5%;
    transform: translate(-50%, -50%);
}

.hard-button {
    width: 178px;
    height: 374px;
    background: url("../images/menu/hard-image.png") no-repeat;
    z-index: 10;
    position: absolute;
    top: 45%;
    left: 57.5%;
    transform: translate(-50%, -50%);
}

.impossible-button {
    width: 191px;
    height: 366px;
    background: url("../images/menu/impossible-image.png") no-repeat;
    z-index: 10;
    position: absolute;
    top: 60%;
    left: 70%;
    transform: translate(-50%, -50%);
}

.mage {
    width: 141px;
    height: 150.99px;
    background: url("../images/menu/mage.png") no-repeat;
    z-index: 10;
    position: absolute;
    top: 51.5%;
    left: 27.75%;
    transform: translate(-50%, -50%);
}

.newbg {
    width: 1536px;
    height: 864px;
    background: url(../images/menu/bg-select-hero.png);
}

.warlock {
    width: 141px;
    height: 150.99px;
    background: url("../images/menu/warlock.png") no-repeat;
    z-index: 10;
    position: absolute;
    top: 73%;
    left: 41.5%;
    transform: translate(-50%, -50%);
}

.hunter {
    width: 139px;
    height: 149.14px;
    background: url("../images/menu/hunter.png") no-repeat;
    z-index: 10;
    position: absolute;
    top: 29.75%;
    left: 50.75%;
    transform: translate(-50%, -50%);
}

.paladin {
    width: 141px;
    height: 150.99px;
    background: url("../images/menu/paladin.png") no-repeat;
    z-index: 10;
    position: absolute;
    top: 51.5%;
    left: 37%;
    transform: translate(-50%, -50%);
}

.hunter-selected {
    width: 284px;
    height: 293px;
    background: url("../images/menu/hunter-selected.png") no-repeat;
    z-index: 10;
    position: absolute;
    top: 45.5%;
    left: 73.75%;
    transform: translate(-50%, -50%);
}
.paladin-selected {
    width: 284px;
    height: 293px;
    background: url("../images/menu/paladin-selected.png") no-repeat;
    z-index: 10;
    position: absolute;
    top: 45.5%;
    left: 73.75%;
    transform: translate(-50%, -50%);
}
.warlock-selected {
    width: 284px;
    height: 293px;
    background: url("../images/menu/warlock-selected.png") no-repeat;
    z-index: 10;
    position: absolute;
    top: 45.5%;
    left: 73.75%;
    transform: translate(-50%, -50%);
}
.mage-selected {
    width: 284px;
    height: 293px;
    background: url("../images/menu/mage-selected.png") no-repeat;
    z-index: 10;
    position: absolute;
    top: 45.5%;
    left: 73.75%;
    transform: translate(-50%, -50%);
}
.select-hero-button {
    width: 195px;
height: 201px;
background: url(../images/menu/select-hero-button.png) no-repeat;
    z-index: 10;
    position: absolute;
    top: 86.5%;
    left: 73.25%;
    transform: translate(-50%, -50%);
}